html {
  height: 100%;
  width: 100%;
}
body{
  background-color: skyblue;
}
h1{
  text-align: center;
  margin-top: 200px;
}
#timer{
  margin-top: 20px;
  font-weight: bold;
  font-size: 70px;
}
.buttonscont{
  display: flex;
  justify-content: center;
  margin: auto;
  width: 60%;
}
button{
  margin-right: 25px;
  background-color: lightblue;
  color: white;
  border: 2px;
  border-color: white;
  border-radius: 5px;
  border-style: solid;
  height: 50px;
  width: 100px;
  box-shadow: 5px 5px 5px 2px rgba( 0, 0, 0, 0.4);
  transition: color 0.5s, background-color 0.5s, border-color 0.5s;
}
button:hover{
  color: lightblue;
  background-color: white;
  border-color: black;
}
